# See https://help.github.com/articles/ignoring-files/
._*
.cache
.DS_Store
.env
.env.test
.eslintcache
.fuse_hidden*
.nfs*
.npm
.nyc_output
.parcel-cache
.pnp
.pnp.*
.Trash-*
.Trashes
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.bak
*.lcov
*.local
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tmp
*.tsbuildinfo
*~
/coverage
~*
lib-cov
logs
node_modules
npm-debug.log*
package-lock.json
